<!DOCTYPE html>
<html>

<head>
  <meta charset='utf-8'>
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <link href='https://fonts.googleapis.com/css?family=Chivo:900' rel='stylesheet' type='text/css'>
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/{{ site.styles_dir }}/stylesheet.css" media="screen" />
  <link rel="stylesheet" type="text/css" href="/{{ site.styles_dir }}/pygment_trac.css" media="screen" />
  <link rel="stylesheet" type="text/css" href="/{{ site.styles_dir }}/print.css" media="print" />
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="/{{site.scripts_dir}}/main.js"></script>
  <!--[if lt IE 9]>
  <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <title>How To Publish Open Data by USODI{% unless page.homepage %}{% if page.title %} | {{page.title}}{% endif %}{% endunless %}</title>
</head>

<body>
  <div id="container">
    <div class="inner">
      <header>
        <h1>{% if page.title %}{{ page.title }}{% endif %}</h1>
        <h2>{% if page.lede %}{{ page.lede }}{% endif %}</h2>
      </header>

      {% unless page.homepage %}
      <nav>
        <ul class="navbar">
          <li><a href="/">Home</a></li>
          <li><a href="/basics">Basics</a></li>
          <li><a href="/agencies">Agencies</a></li>
          <li><a href="/process">Processes</a></li>
          <li><a href="/foss">Tools</a></li>
        </ul>
      </nav>
      <br />
      <hr />
      {% endunless %}

      <section id="main_content">