<header>
  <h1><a href="/">How To Publish Open Data</a></h1>
  <h2>A practical guide to opening data, for government employees whose job it is to make that happen.</h2>
</header>

<section id="downloads" class="clearfix">
  <a href="https://github.com/USODI/How-To/zipball/master" id="download-zip" class="button"><span>Download .zip</span></a>
  <a href="https://github.com/USODI/How-To/tarball/master" id="download-tar-gz" class="button"><span>Download .tar.gz</span></a>
  <a href="https://github.com/USODI/How-To" id="view-on-github" class="button"><span>View on GitHub</span></a>
</section>

<hr>

<section id="main_content">